# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
#your code here
info_0 = pd.read_csv('Students_info_0.csv')
info_1 = pd.read_csv('Students_info_1.csv')
info_2 = pd.read_csv('Students_info_2.csv')
info_3 = pd.read_csv('Students_info_3.csv')
info_4 = pd.read_csv('Students_info_4.csv')
info_5 = pd.read_csv('Students_info_5.csv')
info_6 = pd.read_csv('Students_info_6.csv')
info_7 = pd.read_csv('Students_info_7.csv')
info_8 = pd.read_csv('Students_info_8.csv')
info_9 = pd.read_csv('Students_info_9.csv')

marks_0 = pd.read_csv('Students_marks_0.csv')
marks_1 = pd.read_csv('Students_marks_1.csv')
marks_2 = pd.read_csv('Students_marks_2.csv')
marks_3 = pd.read_csv('Students_marks_3.csv')
marks_4 = pd.read_csv('Students_marks_4.csv')
marks_5 = pd.read_csv('Students_marks_5.csv')
marks_6 = pd.read_csv('Students_marks_6.csv')
marks_7 = pd.read_csv('Students_marks_7.csv')
marks_8 = pd.read_csv('Students_marks_8.csv')
marks_9 = pd.read_csv('Students_marks_9.csv')

df_info = pd.concat([info_0, info_1, info_2, info_3, info_4, info_5, info_6, info_7, info_8, info_9])
df_marks = pd.concat([marks_0, marks_1, marks_2, marks_3, marks_4, marks_5, marks_6, marks_7, marks_8, marks_9])
df = pd.merge(df_info, df_marks, how='inner', on="index")
df.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
#your code hereindex
df = df.drop('index', axis=1)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [4]:
# your code here
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [8]:
# your code here
print('math score: ' + str(df[df.columns[-3]].min()) + ', ' + str(df[df.columns[-3]].max()) + ', ' + str(df[df.columns[-3]].mean()) + ', ' + str(df[df.columns[-3]].std()))
print('reading score: ' + str(df[df.columns[-2]].min()) + ', ' + str(df[df.columns[-2]].max()) + ', ' + str(df[df.columns[-2]].mean()) + ', ' + str(df[df.columns[-2]].std()))
print('writing score: ' + str(df[df.columns[-1]].min()) + ', ' + str(df[df.columns[-1]].max()) + ', ' + str(df[df.columns[-1]].mean()) + ', ' + str(df[df.columns[-1]].std()))

math score: 0, 100, 66.089, 15.163080096009468
reading score: 17, 100, 69.169, 14.60019193725222
writing score: 10, 100, 68.054, 15.195657010869642

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [9]:
# your code here
a = str(df.isnull().sum().sum())
print('Пропущенных значений в таблице: ' + a)

Пропущенных значений в таблице: 0

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [13]:
# your code here
print('math: ' + str(df[df.columns[-3]].mean()))
print('reading: ' + str(df[df.columns[-2]].mean()))
print('writing: ' + str(df[df.columns[-1]].mean()))

math: 66.089
reading: 69.169
writing: 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [15]:
# your code here
df2 = df.groupby(by='test preparation course')
df2.mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [16]:
# your code here
df.lunch.unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [17]:
# your code here
df = df.rename(columns={"parental level of education":"education", "test preparation course":"test preparation"})
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [18]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [19]:
# your code here
a = len(df[df['math score'] >= passmark]) * 100 / len(df.axes[0])
b = len(df[(df['math score'] >= passmark) & (df['test preparation'] == 'completed')]) * 100 / len(df.axes[0])
c = len(df[(df['math score'] < passmark) & (df['test preparation'] != 'completed') & (df['gender'] == 'female')]) * 100 / len(df.axes[0])
print('Доля студентов, сдавших экзамен: ' + str(a) + '%')
print('Доля студентов, проходивших курс подготовки и сдавших экзамен: ' + str(b) + '%')
print('Доля женщин, не проходивших курс и не сдавших экзамен: ' + str(c) + '%')

Доля студентов, сдавших экзамен: 86.5%
Доля студентов, проходивших курс подготовки и сдавших экзамен: 33.0%
Доля женщин, не проходивших курс и не сдавших экзамен: 7.0%

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [20]:
# your code here
df3 = df.groupby(by='race/ethnicity')
print(df3['reading score'].mean())
df4 = df.groupby(by='education')
print(df4['writing score'].min())

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

In [21]:
%%timeit
df3 = df.groupby(by='race/ethnicity')
df3['reading score'].mean()

343 µs ± 17 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [22]:
%%timeit
df4 = df.groupby(by='education')
df4['writing score'].min()

405 µs ± 55.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [23]:
%%timeit
dic={}
for i in df['race/ethnicity'].unique():
    dic[i] = df[(df['race/ethnicity'] == i)]['reading score'].mean()

2.19 ms ± 300 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [24]:
%%timeit
dic={}
for i in df['education'].unique():
    dic[i] = df[(df['education'] == i)]['writing score'].min()

2.42 ms ± 393 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [25]:
# your code here
grouped = pd.pivot_table(data=df,index=['gender','education'], aggfunc='mean')
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [27]:
# your code here
Math_PassStatus = []
for i, row in df.iterrows():
    if row['math score'] < passmark:
        Math_PassStatus.append('F')
    else:
        Math_PassStatus.append('P')
df['Math_PassStatus'] = Math_PassStatus
print('Количество студентов, сдавших и не сдавших экзамен по математике: ' + str(df['Math_PassStatus'].value_counts()['P']) + ' и ' + str(df['Math_PassStatus'].value_counts()['F']) + ' соответственно')

Reading_PassStatus = []
for i, row in df.iterrows():
    if row['reading score'] < passmark:
        Reading_PassStatus.append('F')
    else:
        Reading_PassStatus.append('P')
df['Reading_PassStatus'] = Reading_PassStatus
print('Количество студентов, сдавших и не сдавших экзамен по чтению: ' + str(df['Reading_PassStatus'].value_counts()['P']) + ' и ' + str(df['Reading_PassStatus'].value_counts()['F']) + ' соответственно')

Writing_PassStatus = []
for i, row in df.iterrows():
    if row['writing score'] < passmark:
        Writing_PassStatus.append('F')
    else:
        Writing_PassStatus.append('P')
df['Writing_PassStatus'] = Writing_PassStatus
print('Количество студентов, сдавших и не сдавших экзамен по письму: ' + str(df['Writing_PassStatus'].value_counts()['P']) + ' и ' + str(df['Writing_PassStatus'].value_counts()['F']) + ' соответственно')
df.head()

Количество студентов, сдавших и не сдавших экзамен по математике: 865 и 135 соответственно
Количество студентов, сдавших и не сдавших экзамен по чтению: 910 и 90 соответственно
Количество студентов, сдавших и не сдавших экзамен по письму: 886 и 114 соответственно

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [28]:
# your code here
OverAll_PassStatus = []
for i, row in df.iterrows():
    if row['math score'] >= passmark and row['reading score'] >= passmark and row['writing score'] >= passmark:
        OverAll_PassStatus.append('P')
    else:
        OverAll_PassStatus.append('F')
df['OverAll_PassStatus'] = OverAll_PassStatus
print(str(df['OverAll_PassStatus'].value_counts()['P']))
df.head()

812

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [29]:
def GetGrade(average_mark):
    if average_mark < 50:
        mark = 'F'
    elif 50 <= average_mark < 60:
        mark = 'E'
    elif 60 <= average_mark < 70:
        mark = 'D'
    elif 70 <= average_mark < 80:
        mark = 'C'
    elif 80 <= average_mark <= 90:
        mark = 'B'
    elif average_mark > 90:
        mark = 'A'
    return mark

Grade = []
for i, row in df.iterrows():
    av_grade = (row['math score'] + row['reading score'] + row['writing score']) / 3
    Grade.append(GetGrade(av_grade))
df['Grade'] = Grade

print('Число студентов, получивших оценку A: ' + str(df['Grade'].value_counts()['A']))
print('Число студентов, получивших оценку B: ' + str(df['Grade'].value_counts()['B']))
print('Число студентов, получивших оценку C: ' + str(df['Grade'].value_counts()['C']))
print('Число студентов, получивших оценку D: ' + str(df['Grade'].value_counts()['D']))
print('Число студентов, получивших оценку E: ' + str(df['Grade'].value_counts()['E']))
print('Число студентов, получивших оценку F: ' + str(df['Grade'].value_counts()['F']))
df.head()

Число студентов, получивших оценку A: 50
Число студентов, получивших оценку B: 148
Число студентов, получивших оценку C: 261
Число студентов, получивших оценку D: 256
Число студентов, получивших оценку E: 182
Число студентов, получивших оценку F: 103

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C